<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <base href="{global.baseUrl}">
  <title>{head.title} | {global.appName}</title>
  <meta name="description" content="{head.description}">

  <link type="image/x-icon" rel="icon" href="favicon.ico">
  <link type="text/css" rel="stylesheet" href="main.css">
  <script src="main.js"></script>

</head>
<body class="{body.class}">
  <div class="wrapper">
    <header class="header">
      <a href="/">Logo</a>

      <ul class="menu">
        <li><a href="/">Home</a></li>
        <li><a href="/" class="loggedOut">Sign Up</a></li>
        <li><a href="/" class="loggedIn"></a></li>
        <li><a href="/" class="loggedIn"></a></li>
        <li><a href="/" class="loggedIn"></a></li>
      </ul>

    </header>

    <div class="content">